<h3 class="welcome"> Login In Below:</h3>
<h4 class="welcome">To see your Favorite Gifs</h4>
<%= form_for :session, url: login_path do |f| %>
  <%=f.label :email %>
  <%= f.text_field :email %>

  <%=f.label :password %>
  <%= f.text_field :password %>

  <%= f.submit "login" %>

  <% end %>
  
  